<div class="container">
  <div class="row">
    <div class="col">


      <div class="card shadow-sm mb-5 bg-white rounded">
        <!-- Nav pills -->
        <ul class="nav nav-pills  nav-fill card-header justify-content-center">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" href="#login">Login</a>
          </li>


          <li class="nav-item ml-3">
            <a class="nav-link"  data-toggle="pill" href="#register">Register</a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane container active" id="login">

            <div class="col mt-3">
              <h4>Login User</h4>
              <hr>

              <div *ngIf="errLogin" class="alert alert-danger alert-dismissible fade show" role="alert">
                User name or password not match
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <form class="p-2 mb-3" [formGroup]="loginForm" novalidate>
                <div class="form-group">
                  <label for="loginEmail">Email address</label>
                  <input type="email" class="form-control" required formControlName="loginEmail" [(ngModel)]="loginUser.email" name="loginEmail" id="loginEmail" aria-describedby="emailHelp"
                         placeholder="Enter email">
                </div>
                <div class="form-group">
                  <label for="loginPassword">Password</label>
                  <input type="password" class="form-control" required formControlName="loginPassword" [(ngModel)]="loginUser.password" name="loginPassword" id="loginPassword" placeholder="Password">
                </div>
                <button [disabled]="loginForm.invalid" (click)="submitLogin()"
                        class="btn btn-dark container-fluid mt-3">Submit
                </button>
              </form>
            </div>


          </div>
          <div class="tab-pane container fade" id="register">
            <div class="col mt-3">
              <h4>Register New User</h4>
              <hr>

              <div *ngIf="userRegisterCorrectly" class="alert alert-success alert-dismissible fade show" role="alert">
                User registered correctly! Please Login
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

                <div *ngIf="isUserExist" class="alert alert-danger alert-dismissible fade show" role="alert">
                  Pointed email already used!
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

              <div *ngIf="isPasswordMismatch" class="alert alert-danger alert-dismissible fade show" role="alert">
                Passwords mismatch!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <form class="p-2 mb-3" [formGroup]="registerForm" novalidate>
                <div class="form-group">
                  <label for="registerEmail">Email address</label>
                  <input type="email" class="form-control" required (click)="removeWarning()" [(ngModel)]="user.email"
                         formControlName="email" name="registerEmail" id="registerEmail" aria-describedby="emailHelp"
                         placeholder="Enter email">
                </div>
                <div class="form-group">
                  <label for="registerPassword">Password</label>
                  <input type="password" class="form-control" required [(ngModel)]="user.password"
                         formControlName="password" name="registerPassword" id="registerPassword"
                         placeholder="Password">
                </div>

                <div class="form-control-feedback" style="color: red;"
                     *ngIf="password.errors && (password.dirty || password.touched)">
                  <p *ngIf="password.errors.minlength">Password must be minimum 8 characters long, we need another {{password.errors.minlength.requiredLength - password.errors.minlength.actualLength}} characters </p>
                </div>

                <div class="form-group">
                  <label for="registerConfirmPassword">Confirm Password</label>
                  <input type="password" class="form-control" required [(ngModel)]="user.confirmPassword"
                         formControlName="confirmPassword"  name="registerConfirmPassword" id="registerConfirmPassword"
                         placeholder="Confirm Password">
                </div>
                <button type="submit" [disabled]="registerForm.invalid" (click)="registerUser()"
                        class="btn btn-dark container-fluid mt-3">Submit
                </button>
              </form>
            </div>


          </div>
        </div>
      </div>



    </div>
  </div>
</div>
